head{
  width: 960px;
  background-color: #ffffff;
  border: 58px;
  border-color: #cccccc;
}

p{
  color: #777777;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.name{
  float: left;
  margin-right: 150px;
  margin-left: 300px;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  background-color: #4aaaa5;
  color: #ffffff;
}

.h2{
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  color: #4aaaa5;
}

.links{
  text-align: center;
  padding-top: -100px;
  padding-right: 50px;
  padding-bottom: -100px;
  padding-left: 50px;
  margin-bottom: 50px;
  border-bottom: 45px solid #ffffff;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
  background-color: #ffffff;

}
.img{
  float:left;
  clear: left;
}

#aboutme{
  float: right;
  text-align: left;
  width: 480px;
  padding-right: 200px;
}

table{
  border: none;
  padding-top: -100px;
  padding-right: 30px;
  padding-bottom: -100px;
  padding-left: 30px;
  margin-bottom: 50px;
  margin-right: 100px;
}

.form{
  width: 960px;
}

.content {
    min-height: calc(100vh - 70px);
    width: 960px;
    padding-top: -100px;
    padding-right: 30px;
    padding-bottom: -100px;
    padding-left: 30px;
    margin-bottom: 50px;
    margin-right: 300px;
    margin-left: 300px;
    float: middle;
    clear: both;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #ffffff;
    border-color: #dddddd;
  }

.footer {
    border-top: 8px solid #4aaaa5;
    height: 50px;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #666666;
  }